@media only screen and (max-width: 767px) {
  .photo-wrap__photo {
    width: 100%;
  }

  .t-120 {
    top: 0px;
  }
  .b-260 {
    bottom: 0px;
  }
  .b-360 {
    bottom: 0px;
  }
  .b-220 {
    bottom: 0px;
  }
  section {
    margin-bottom: 0;
  }
  .section-5 {
    margin-bottom: 120px;
  }

  .header-nav_menu {
    margin-left: 0;
  }
  .hero-item .item__title {
    transform: translateY(0);
  }
  .hero-item .item__description {
    transform: translateY(0);
    opacity: 1;
  }
}
